<div class="toolbarContents">
  <button type="button" class="btn btn-primary">
    <img src="/assets/eye.png" alt="">
    Просмотр
  </button>
  <button type="button" class="btn btn-primary">
    <img src="/assets/document-edit.png" alt="">
    Редактирование
  </button>
  <button type="button" class="btn btn-primary createDoc">
    <img src="/assets/document.png" alt="">
    Создание
  </button>
  <button type="button" class="btn btn-primary filter">
    <img src="/assets/filter.png" alt="">
    Фильтр
  </button>
  <button type="button" class="btn btn-primary">
    <img src="/assets/tune.png" alt="">
    Настройки
  </button>
</div>